@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

body{
	font-family: 'Raleway', sans-serif;
}

header.container-fluid{
	background-image: url(../images/bgTopo.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.textOne{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 3%;
	font-size: 3.0em;
}

.textTwo{
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 1%;
	font-size: 2.5em;
	border-radius: 5px;
	background-color: #006a58;
}

.spaceOne{
	margin-top: 3%;
}

.dotGreen{
	color: #006a58;
    font-size: 1.8em;
    position: relative;
    top: 5px;
}

.textThree{
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	margin-top: -5%;
	font-size: 1.3em;
	border-radius: 5px;
}

.colStyle{
	background-color: #f9f9f9;
	border-radius: 5px;
	-moz-box-shadow: 1px 2px 5px #424142;
	-webkit-box-shadow: 1px 2px 5px #424142;
	box-shadow: 1px 2px 5px #424142;
}

.textFour{
	color: #1b1919;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	line-height: 23px;
	margin-top: 10%;
	font-weight: 900;
}

.textFive{
	color: #c6a565;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: -15px;
}
.textFiveB{
	color: #c6a565;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-top: -30px;
}
.asterix{
	color: #838383;
}

.textFiveC{
    color: #838383;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    margin-top: -5%;
}

.imgA{
	position: relative;
	z-index: 10;
    margin-left: 140px;
}

.spaceTwo{
	margin-top: 2%;
}

.hotEnviar{
	background-color: #005aff;
    color: #fff;
    padding: 5% 12%;
    border-radius: 20px;
	letter-spacing: 4px;
	margin-top: 3%;
	margin-bottom: 10%;
}

.textSix{
	color: #1b1919;
	border: 5px solid #1b1919;
	padding: 2%;
	text-transform: uppercase;
	font-size: 1.6em;
	text-align: center;
	font-weight: 900;
	margin-top: 5%;
	margin-bottom: 5%;
}

.backGround{
	background-color: #f9f9f9;
}

.textSeven{
	color: #1b1919;
    font-size: 3em;
    font-weight: 900;
}

.textEight{
	color: #616161;
    font-size: 1.2em;
}

.spaceThree{
	padding: 10% 0 8% 0;
}

.spaceZero{
	padding: 2px;
}

.textnine{
	color: #630fab;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4em;
}

.textIconOne{
    color: #d3af6a;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}

.textIconTwo{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
}

h2{
	text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
}

.loja{
	color: #630fab;
    text-align: center;
    margin-top: 15%;
    font-weight: 900;
    font-size: 1.6em;
}

.lojaB{
	color: #616161;
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
}

@media (max-width: 767px){
	.textOne, .textTwo{
		font-size: 1.5em;
	}

	.textThree{
		text-align: center;
		font-size: 0.9em;
		margin-top: 1px;
	}
	.spaceTwo {
		margin-top: 2%;
	}
	.imgA{
		margin: 0;
		padding: 0;
	}
	.colStyle{
		margin-top: -70px;
	}
	header.container-fluid{
		background-position-y: -150px;
	}
	.spaceMobOne{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.textSeven{
		text-align: center;
		font-size: 1.8em;
	}
	.textnine{
		font-size: 1.1em;
		margin-top: 10px;
	}
	.textEight{
		margin-top: 25px;
	}
}